/Singleton.class
/SingletonThreadSafe1.class
/SingleThreadSafe2.class
/SingletonThreadSafe2.class
/SingletonThreadSafe3.class
/SingletonThreadSafe3$SingletonHolder.class
/EagerSingleton.class
/InitialOrderTest.class
/InitialOrderTest$SingletonTest.class
